In [1]:
import os
import pandas as pd

# folder where CSV files are located
folder_path = 'LufthansaTask'

# List all files in the folder
csv_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]

# Initialize a dictionary to store DataFrames, where each file is a key
data_dict = {}

# Loop through each CSV file
for file in csv_files:
    file_path = os.path.join(folder_path, file)
    
    # Read the CSV file into a DataFrame
    data = pd.read_csv(file_path)
    
    # Store the DataFrame in the dictionary with the file name as the key
    data_dict[file] = data
    print(file_path)

LufthansaTask\olist_customers_dataset.csv
LufthansaTask\olist_geolocation_dataset.csv
LufthansaTask\olist_orders_dataset.csv
LufthansaTask\olist_order_items_dataset.csv
LufthansaTask\olist_order_payments_dataset.csv
LufthansaTask\olist_order_reviews_dataset.csv
LufthansaTask\olist_products_dataset.csv
LufthansaTask\olist_sellers_dataset.csv
LufthansaTask\product_category_name_translation.csv

In [2]:
# example printing first records of data_dict['olist_customers_dataset.csv'].head()
# Print top 5 rows for each dataset
for file, df in data_dict.items():
    print(f"\n--- {file} ---\n")
    print(df.head())
    print(f"Dimensions of {file} are: {df.shape}")
    
    print("---------------------------------------------------------------------------------------------------")

--- olist_customers_dataset.csv ---

                        customer_id                customer_unique_id  \
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2  4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
3  b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c
4  4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066

   customer_zip_code_prefix          customer_city customer_state
0                     14409                 franca             SP
1                      9790  sao bernardo do campo             SP
2                      1151              sao paulo             SP
3                      8775        mogi das cruzes             SP
4                     13056               campinas             SP
Dimensions of olist_customers_dataset.csv are: (99441, 5)
---------------------------------------------------------------------------------------------------

--- olist_geolocation_dataset.csv ---

   geolocation_zip_code_prefix  geolocation_lat  geolocation_lng  \
0                         1037       -23.545621       -46.639292
1                         1046       -23.546081       -46.644820
2                         1046       -23.546129       -46.642951
3                         1041       -23.544392       -46.639499
4                         1035       -23.541578       -46.641607

  geolocation_city geolocation_state
0        sao paulo                SP
1        sao paulo                SP
2        sao paulo                SP
3        sao paulo                SP
4        sao paulo                SP
Dimensions of olist_geolocation_dataset.csv are: (1000163, 5)
---------------------------------------------------------------------------------------------------

--- olist_orders_dataset.csv ---

                           order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c

  order_status order_purchase_timestamp    order_approved_at  \
0    delivered      2017-10-02 10:56:33  2017-10-02 11:07:15
1    delivered      2018-07-24 20:41:37  2018-07-26 03:24:27
2    delivered      2018-08-08 08:38:49  2018-08-08 08:55:23
3    delivered      2017-11-18 19:28:06  2017-11-18 19:45:59
4    delivered      2018-02-13 21:18:39  2018-02-13 22:20:29

  order_delivered_carrier_date order_delivered_customer_date  \
0          2017-10-04 19:55:00           2017-10-10 21:25:13
1          2018-07-26 14:31:00           2018-08-07 15:27:45
2          2018-08-08 13:50:00           2018-08-17 18:06:29
3          2017-11-22 13:39:59           2017-12-02 00:28:42
4          2018-02-14 19:46:34           2018-02-16 18:17:02

  order_estimated_delivery_date
0           2017-10-18 00:00:00
1           2018-08-13 00:00:00
2           2018-09-04 00:00:00
3           2017-12-15 00:00:00
4           2018-02-26 00:00:00
Dimensions of olist_orders_dataset.csv are: (99441, 8)
---------------------------------------------------------------------------------------------------

--- olist_order_items_dataset.csv ---

                           order_id  order_item_id  \
0  00010242fe8c5a6d1ba2dd792cb16214              1
1  00018f77f2f0320c557190d7a144bdd3              1
2  000229ec398224ef6ca0657da4fc703e              1
3  00024acbcdf0a6daa1e931b038114c75              1
4  00042b26cf59d7ce69dfabb4e55b4fd9              1

                         product_id                         seller_id  \
0  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36
2  c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d
3  7634da152a4610f1595efa32f14722fc  9d7a1d34a5052409006425275ba1c2b4
4  ac6c3623068f30de03045865e4e10089  df560393f3a51e74553ab94004ba5c87

   shipping_limit_date   price  freight_value
0  2017-09-19 09:45:35   58.90          13.29
1  2017-05-03 11:05:13  239.90          19.93
2  2018-01-18 14:48:30  199.00          17.87
3  2018-08-15 10:10:18   12.99          12.79
4  2017-02-13 13:57:51  199.90          18.14
Dimensions of olist_order_items_dataset.csv are: (112650, 7)
---------------------------------------------------------------------------------------------------

--- olist_order_payments_dataset.csv ---

                           order_id  payment_sequential payment_type  \
0  b81ef226f3fe1789b1e8b2acac839d17                   1  credit_card
1  a9810da82917af2d9aefd1278f1dcfa0                   1  credit_card
2  25e8ea4e93396b6fa0d3dd708e76c1bd                   1  credit_card
3  ba78997921bbcdc1373bb41e913ab953                   1  credit_card
4  42fdf880ba16b47b59251dd489d4441a                   1  credit_card

   payment_installments  payment_value
0                     8          99.33
1                     1          24.39
2                     1          65.71
3                     8         107.78
4                     2         128.45
Dimensions of olist_order_payments_dataset.csv are: (103886, 5)
---------------------------------------------------------------------------------------------------

--- olist_order_reviews_dataset.csv ---

                          review_id                          order_id  \
0  7bc2406110b926393aa56f80a40eba40  73fc7af87114b39712e6da79b0a377eb
1  80e641a11e56f04c1ad469d5645fdfde  a548910a1c6147796b98fdf73dbeba33
2  228ce5500dc1d8e020d8d1322874b6f0  f9e4b658b201a9f2ecdecbb34bed034b
3  e64fb393e7b32834bb789ff8bb30750e  658677c97b385a9be170737859d3511b
4  f7c4243c7fe1938f181bec41a392bdeb  8e6bfb81e283fa7e4f11123a3fb894f1

   review_score review_comment_title  \
0             4                  NaN
1             5                  NaN
2             5                  NaN
3             5                  NaN
4             5                  NaN

                              review_comment_message review_creation_date  \
0                                                NaN  2018-01-18 00:00:00
1                                                NaN  2018-03-10 00:00:00
2                                                NaN  2018-02-17 00:00:00
3              Recebi bem antes do prazo estipulado.  2017-04-21 00:00:00
4  Parabéns lojas lannister adorei comprar pela I...  2018-03-01 00:00:00

  review_answer_timestamp
0     2018-01-18 21:46:59
1     2018-03-11 03:05:13
2     2018-02-18 14:36:24
3     2017-04-21 22:02:06
4     2018-03-02 10:26:53
Dimensions of olist_order_reviews_dataset.csv are: (99224, 7)
---------------------------------------------------------------------------------------------------

--- olist_products_dataset.csv ---

                         product_id  product_category_name  \
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                  artes
2  96bd76ec8810374ed1b65e291975717f          esporte_lazer
3  cef67bcfe19066a932b7673e239eb23d                  bebes
4  9dc1a7de274444849c219cff195d0b71  utilidades_domesticas

   product_name_lenght  product_description_lenght  product_photos_qty  \
0                 40.0                       287.0                 1.0
1                 44.0                       276.0                 1.0
2                 46.0                       250.0                 1.0
3                 27.0                       261.0                 1.0
4                 37.0                       402.0                 4.0

   product_weight_g  product_length_cm  product_height_cm  product_width_cm
0             225.0               16.0               10.0              14.0
1            1000.0               30.0               18.0              20.0
2             154.0               18.0                9.0              15.0
3             371.0               26.0                4.0              26.0
4             625.0               20.0               17.0              13.0
Dimensions of olist_products_dataset.csv are: (32951, 9)
---------------------------------------------------------------------------------------------------

--- olist_sellers_dataset.csv ---

                          seller_id  seller_zip_code_prefix  \
0  3442f8959a84dea7ee197c632cb2df15                   13023
1  d1b65fc7debc3361ea86b5f14c68d2e2                   13844
2  ce3ad9de960102d0677a81f5d0bb7b2d                   20031
3  c0f3eea2e14555b6faeea3dd58c1b1c3                    4195
4  51a04a8a6bdcb23deccc82b0b80742cf                   12914

         seller_city seller_state
0           campinas           SP
1         mogi guacu           SP
2     rio de janeiro           RJ
3          sao paulo           SP
4  braganca paulista           SP
Dimensions of olist_sellers_dataset.csv are: (3095, 4)
---------------------------------------------------------------------------------------------------

--- product_category_name_translation.csv ---

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor
Dimensions of product_category_name_translation.csv are: (71, 2)
---------------------------------------------------------------------------------------------------

## Check data quality for each dataset

In [4]:
# function to check data quality
def check_data_quality(data_dict):
    for file_name, df in data_dict.items():
        print(f"\n========== Analyzing {file_name} ==========\n")
        
        # display data types
        print("Data Types:")
        print(df.dtypes)
        
        # check for missing values
        print("\nMissing Values:")
        print(df.isnull().sum())

        # check for duplicate rows
        print("\nDuplicate Rows:", df.duplicated().sum())

        # display general statistics
        print("\nSummary Statistics:")
        print(df.describe(include='all'))  # Include categorical data as well

        print("\n==================================================================================================================\n")

# Run the data quality check
check_data_quality(data_dict)

========== Analyzing olist_customers_dataset.csv ==========

Data Types:
customer_id                 object
customer_unique_id          object
customer_zip_code_prefix     int64
customer_city               object
customer_state              object
dtype: object

Missing Values:
customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

Duplicate Rows: 0

Summary Statistics:
                             customer_id                customer_unique_id  \
count                              99441                             99441
unique                             99441                             96096
top     06b8999e2fba1a1fbc88172c00ba8bc7  8d50f5eadf50201ccdcedfb9e2ac8455
freq                                   1                                17
mean                                 NaN                               NaN
std                                  NaN                               NaN
min                                  NaN                               NaN
25%                                  NaN                               NaN
50%                                  NaN                               NaN
75%                                  NaN                               NaN
max                                  NaN                               NaN

        customer_zip_code_prefix customer_city customer_state
count               99441.000000         99441          99441
unique                       NaN          4119             27
top                          NaN     sao paulo             SP
freq                         NaN         15540          41746
mean                35137.474583           NaN            NaN
std                 29797.938996           NaN            NaN
min                  1003.000000           NaN            NaN
25%                 11347.000000           NaN            NaN
50%                 24416.000000           NaN            NaN
75%                 58900.000000           NaN            NaN
max                 99990.000000           NaN            NaN

==================================================================================================================


========== Analyzing olist_geolocation_dataset.csv ==========

Data Types:
geolocation_zip_code_prefix      int64
geolocation_lat                float64
geolocation_lng                float64
geolocation_city                object
geolocation_state               object
dtype: object

Missing Values:
geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

Duplicate Rows: 261831

Summary Statistics:
        geolocation_zip_code_prefix  geolocation_lat  geolocation_lng  \
count                  1.000163e+06     1.000163e+06     1.000163e+06
unique                          NaN              NaN              NaN
top                             NaN              NaN              NaN
freq                            NaN              NaN              NaN
mean                   3.657417e+04    -2.117615e+01    -4.639054e+01
std                    3.054934e+04     5.715866e+00     4.269748e+00
min                    1.001000e+03    -3.660537e+01    -1.014668e+02
25%                    1.107500e+04    -2.360355e+01    -4.857317e+01
50%                    2.653000e+04    -2.291938e+01    -4.663788e+01
75%                    6.350400e+04    -1.997962e+01    -4.376771e+01
max                    9.999000e+04     4.506593e+01     1.211054e+02

       geolocation_city geolocation_state
count           1000163           1000163
unique             8011                27
top           sao paulo                SP
freq             135800            404268
mean                NaN               NaN
std                 NaN               NaN
min                 NaN               NaN
25%                 NaN               NaN
50%                 NaN               NaN
75%                 NaN               NaN
max                 NaN               NaN

==================================================================================================================


========== Analyzing olist_orders_dataset.csv ==========

Data Types:
order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object

Missing Values:
order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

Duplicate Rows: 0

Summary Statistics:
                                order_id                       customer_id  \
count                              99441                             99441
unique                             99441                             99441
top     e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
freq                                   1                                 1

       order_status order_purchase_timestamp    order_approved_at  \
count         99441                    99441                99281
unique            8                    98875                90733
top       delivered      2018-04-11 10:48:14  2018-02-27 04:31:10
freq          96478                        3                    9

       order_delivered_carrier_date order_delivered_customer_date  \
count                         97658                         96476
unique                        81018                         95664
top             2018-05-09 15:48:00           2018-05-08 23:38:46
freq                             47                             3

       order_estimated_delivery_date
count                          99441
unique                           459
top              2017-12-20 00:00:00
freq                             522

==================================================================================================================


========== Analyzing olist_order_items_dataset.csv ==========

Data Types:
order_id                object
order_item_id            int64
product_id              object
seller_id               object
shipping_limit_date     object
price                  float64
freight_value          float64
dtype: object

Missing Values:
order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

Duplicate Rows: 0

Summary Statistics:
                                order_id  order_item_id  \
count                             112650  112650.000000
unique                             98666            NaN
top     8272b63d03f5f79c56e9e4120aec44ef            NaN
freq                                  21            NaN
mean                                 NaN       1.197834
std                                  NaN       0.705124
min                                  NaN       1.000000
25%                                  NaN       1.000000
50%                                  NaN       1.000000
75%                                  NaN       1.000000
max                                  NaN      21.000000

                              product_id                         seller_id  \
count                             112650                            112650
unique                             32951                              3095
top     aca2eb7d00ea1a7b8ebd4e68314663af  6560211a19b47992c3666cc44a7e94c0
freq                                 527                              2033
mean                                 NaN                               NaN
std                                  NaN                               NaN
min                                  NaN                               NaN
25%                                  NaN                               NaN
50%                                  NaN                               NaN
75%                                  NaN                               NaN
max                                  NaN                               NaN

        shipping_limit_date          price  freight_value
count                112650  112650.000000  112650.000000
unique                93318            NaN            NaN
top     2017-07-21 18:25:23            NaN            NaN
freq                     21            NaN            NaN
mean                    NaN     120.653739      19.990320
std                     NaN     183.633928      15.806405
min                     NaN       0.850000       0.000000
25%                     NaN      39.900000      13.080000
50%                     NaN      74.990000      16.260000
75%                     NaN     134.900000      21.150000
max                     NaN    6735.000000     409.680000

==================================================================================================================


========== Analyzing olist_order_payments_dataset.csv ==========

Data Types:
order_id                 object
payment_sequential        int64
payment_type             object
payment_installments      int64
payment_value           float64
dtype: object

Missing Values:
order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

Duplicate Rows: 0

Summary Statistics:
                                order_id  payment_sequential payment_type  \
count                             103886       103886.000000       103886
unique                             99440                 NaN            5
top     fa65dad1b0e818e3ccc5cb0e39231352                 NaN  credit_card
freq                                  29                 NaN        76795
mean                                 NaN            1.092679          NaN
std                                  NaN            0.706584          NaN
min                                  NaN            1.000000          NaN
25%                                  NaN            1.000000          NaN
50%                                  NaN            1.000000          NaN
75%                                  NaN            1.000000          NaN
max                                  NaN           29.000000          NaN

        payment_installments  payment_value
count          103886.000000  103886.000000
unique                   NaN            NaN
top                      NaN            NaN
freq                     NaN            NaN
mean                2.853349     154.100380
std                 2.687051     217.494064
min                 0.000000       0.000000
25%                 1.000000      56.790000
50%                 1.000000     100.000000
75%                 4.000000     171.837500
max                24.000000   13664.080000

==================================================================================================================


========== Analyzing olist_order_reviews_dataset.csv ==========

Data Types:
review_id                  object
order_id                   object
review_score                int64
review_comment_title       object
review_comment_message     object
review_creation_date       object
review_answer_timestamp    object
dtype: object

Missing Values:
review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

Duplicate Rows: 0

Summary Statistics:
                               review_id                          order_id  \
count                              99224                             99224
unique                             98410                             98673
top     7b606b0d57b078384f0b58eac1d41d78  c88b1d1b157a9999ce368f218a407141
freq                                   3                                 3
mean                                 NaN                               NaN
std                                  NaN                               NaN
min                                  NaN                               NaN
25%                                  NaN                               NaN
50%                                  NaN                               NaN
75%                                  NaN                               NaN
max                                  NaN                               NaN

        review_score review_comment_title review_comment_message  \
count   99224.000000                11568                  40977
unique           NaN                 4527                  36159
top              NaN            Recomendo              Muito bom
freq             NaN                  423                    230
mean        4.086421                  NaN                    NaN
std         1.347579                  NaN                    NaN
min         1.000000                  NaN                    NaN
25%         4.000000                  NaN                    NaN
50%         5.000000                  NaN                    NaN
75%         5.000000                  NaN                    NaN
max         5.000000                  NaN                    NaN

       review_creation_date review_answer_timestamp
count                 99224                   99224
unique                  636                   98248
top     2017-12-19 00:00:00     2017-06-15 23:21:05
freq                    463                       4
mean                    NaN                     NaN
std                     NaN                     NaN
min                     NaN                     NaN
25%                     NaN                     NaN
50%                     NaN                     NaN
75%                     NaN                     NaN
max                     NaN                     NaN

==================================================================================================================


========== Analyzing olist_products_dataset.csv ==========

Data Types:
product_id                     object
product_category_name          object
product_name_lenght           float64
product_description_lenght    float64
product_photos_qty            float64
product_weight_g              float64
product_length_cm             float64
product_height_cm             float64
product_width_cm              float64
dtype: object

Missing Values:
product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

Duplicate Rows: 0

Summary Statistics:
                              product_id product_category_name  \
count                              32951                 32341
unique                             32951                    73
top     1e9e8ef04dbcff4541ed26657ea517e5       cama_mesa_banho
freq                                   1                  3029
mean                                 NaN                   NaN
std                                  NaN                   NaN
min                                  NaN                   NaN
25%                                  NaN                   NaN
50%                                  NaN                   NaN
75%                                  NaN                   NaN
max                                  NaN                   NaN

        product_name_lenght  product_description_lenght  product_photos_qty  \
count          32341.000000                32341.000000        32341.000000
unique                  NaN                         NaN                 NaN
top                     NaN                         NaN                 NaN
freq                    NaN                         NaN                 NaN
mean              48.476949                  771.495285            2.188986
std               10.245741                  635.115225            1.736766
min                5.000000                    4.000000            1.000000
25%               42.000000                  339.000000            1.000000
50%               51.000000                  595.000000            1.000000
75%               57.000000                  972.000000            3.000000
max               76.000000                 3992.000000           20.000000

        product_weight_g  product_length_cm  product_height_cm  \
count       32949.000000       32949.000000       32949.000000
unique               NaN                NaN                NaN
top                  NaN                NaN                NaN
freq                 NaN                NaN                NaN
mean         2276.472488          30.815078          16.937661
std          4282.038731          16.914458          13.637554
min             0.000000           7.000000           2.000000
25%           300.000000          18.000000           8.000000
50%           700.000000          25.000000          13.000000
75%          1900.000000          38.000000          21.000000
max         40425.000000         105.000000         105.000000

        product_width_cm
count       32949.000000
unique               NaN
top                  NaN
freq                 NaN
mean           23.196728
std            12.079047
min             6.000000
25%            15.000000
50%            20.000000
75%            30.000000
max           118.000000

==================================================================================================================


========== Analyzing olist_sellers_dataset.csv ==========

Data Types:
seller_id                 object
seller_zip_code_prefix     int64
seller_city               object
seller_state              object
dtype: object

Missing Values:
seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

Duplicate Rows: 0

Summary Statistics:
                               seller_id  seller_zip_code_prefix seller_city  \
count                               3095             3095.000000        3095
unique                              3095                     NaN         611
top     3442f8959a84dea7ee197c632cb2df15                     NaN   sao paulo
freq                                   1                     NaN         694
mean                                 NaN            32291.059451         NaN
std                                  NaN            32713.453830         NaN
min                                  NaN             1001.000000         NaN
25%                                  NaN             7093.500000         NaN
50%                                  NaN            14940.000000         NaN
75%                                  NaN            64552.500000         NaN
max                                  NaN            99730.000000         NaN

       seller_state
count          3095
unique           23
top              SP
freq           1849
mean            NaN
std             NaN
min             NaN
25%             NaN
50%             NaN
75%             NaN
max             NaN

==================================================================================================================


========== Analyzing product_category_name_translation.csv ==========

Data Types:
product_category_name            object
product_category_name_english    object
dtype: object

Missing Values:
product_category_name            0
product_category_name_english    0
dtype: int64

Duplicate Rows: 0

## Do all the neccessary data preprocessing/cleaning for all datasets

#### Group By geolocation_zip_code_prefix from olist_geolocation_dataset dataset

In [7]:
# load the geolocation dataset
geolocation = data_dict['olist_geolocation_dataset.csv']

# aggregate duplicate zip codes by taking median lat/lng and most frequent city/state
geolocation = geolocation.groupby('geolocation_zip_code_prefix').agg({
    'geolocation_lat': 'median',
    'geolocation_lng': 'median',
    'geolocation_city': lambda x: x.mode()[0],   # simpler and clearer
    'geolocation_state': lambda x: x.mode()[0]
}).reset_index()

In [8]:
geolocation.to_csv('geolocation_cleaned.csv', index=False, sep=';')

In [9]:
geolocation.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1001,-23.550381,-46.634027,sao paulo,SP
1,1002,-23.548551,-46.635072,sao paulo,SP
2,1003,-23.548977,-46.635313,sao paulo,SP
3,1004,-23.549535,-46.634771,sao paulo,SP
4,1005,-23.549612,-46.636532,sao paulo,SP

In [10]:
geolocation.shape

(19015, 5)

#### Drop NA values, convert all timestamps columns in datetime format at olist_orders_dataset dataset

In [12]:
# drop NA values from orders dataset
orders = 'olist_orders_dataset.csv'
orders = data_dict[orders].dropna()

print(orders.shape)

(96461, 8)

In [13]:
# list of columns to convert to datetime
timestamp_columns = [
    'order_purchase_timestamp',
    'order_approved_at',
    'order_delivered_carrier_date',
    'order_delivered_customer_date',
    'order_estimated_delivery_date'
]

# convert the timestamp columns to datetime format
for col in timestamp_columns:
    orders[col] = pd.to_datetime(orders[col])

C:\Users\onlin\AppData\Local\Temp\ipykernel_14948\3589156988.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  orders[col] = pd.to_datetime(orders[col])
C:\Users\onlin\AppData\Local\Temp\ipykernel_14948\3589156988.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  orders[col] = pd.to_datetime(orders[col])
C:\Users\onlin\AppData\Local\Temp\ipykernel_14948\3589156988.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  orders[col] = pd.to_datetime(orders[col])
C:\Users\onlin\AppData\Local\Temp\ipykernel_14948\3589156988.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  orders[col] = pd.to_datetime(orders[col])
C:\Users\onlin\AppData\Local\Temp\ipykernel_14948\3589156988.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  orders[col] = pd.to_datetime(orders[col])

#### Convert shipping_limit_date which is a timestamp column to datetime format at olist_order_items_dataset dataset

In [15]:
order_items = data_dict['olist_order_items_dataset.csv']

# convert 'shipping_limit_date' to datetime
order_items['shipping_limit_date'] = pd.to_datetime(order_items['shipping_limit_date'])

#### Convert review_answer_timestamp to datetime format and fill the emplty records with 'No Comment' from olist_order_reviews_dataset.csv

In [17]:
order_reviews = data_dict['olist_order_reviews_dataset.csv']

# convert 'shipping_limit_date' to datetime
order_reviews['review_answer_timestamp'] = pd.to_datetime(order_reviews['review_answer_timestamp'])

In [18]:
# fill missing values in review_comment_title and review_comment_message with a comment
order_reviews['review_comment_title'] = order_reviews['review_comment_title'].fillna('No Comment')
order_reviews['review_comment_message'] = order_reviews['review_comment_message'].fillna('No Comment')

#### Drop NA values from olist_products_dataset.csv dataset

In [20]:
# drop NA values from products dataset
products = 'olist_products_dataset.csv'
products = data_dict[products].dropna()

print(products.shape)

(32340, 9)

In [21]:
products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [22]:
customers = data_dict['olist_customers_dataset.csv']
sellers = data_dict['olist_sellers_dataset.csv']

# merge customers with geolocation
customers = customers.merge(geolocation, left_on="customer_zip_code_prefix", right_on="geolocation_zip_code_prefix", how="left"
).drop(columns=["geolocation_zip_code_prefix"])

# merge sellers with geolocation
sellers = sellers.merge(geolocation, left_on="seller_zip_code_prefix", right_on="geolocation_zip_code_prefix", how="left"
).drop(columns=["geolocation_zip_code_prefix"])

## Creating Calculated Columns

In [24]:
order_payments = data_dict['olist_order_payments_dataset.csv']

### Total Price: Sum of product price and freight value.

In [26]:
# Total Price: Sum of product price and freight value.
order_items["total_price"] = order_items["price"] + order_items["freight_value"]

### Delivery Time: Difference between the delivery date and the order purchase date.

In [28]:
# Delivery Time: Difference between the delivery date and the order purchase date.
# merge order_items and orders
order_items_orders = order_items.merge(orders, on="order_id", how="left")

order_items_orders["delivery_time"] = (order_items_orders["order_delivered_customer_date"] - order_items_orders["order_purchase_timestamp"]).dt.days

### Payment Count: Sum of payment installments for each order.

In [30]:
# Payment Count: Sum of payment installments for each order.
payment_count = order_payments.groupby("order_id", as_index=False).agg(payment_count=("payment_installments", "sum"))

# 2. Merge order_items_orders with payment_count
order_items_orders_payments = order_items_orders.merge(payment_count, on="order_id", how="left")

### Profit Margin: Subtract freight value from product price to calculate a rough profit estimate.

In [32]:
# create the 'profit_margin' column
order_items_orders_payments["profit_margin"] = order_items_orders_payments["price"] - order_items_orders_payments["freight_value"]

## Using Window Functions Over Partitions (Pandas)

### Total Sales per Customer: A running total of product price for each customer partitioned by Customer ID

In [35]:
# merge order_items_orders_payments with customers
order_items_orders_payments_customers = order_items_orders_payments.merge(customers, on="customer_id", how="left")

order_items_orders_payments_customers["total_sales_per_customer"] = order_items_orders_payments_customers.groupby("customer_id")["total_price"].cumsum()

In [36]:
order_items_orders_payments_customers.shape

(112650, 27)

### Average Delivery Time per Product Category: A rolling average of delivery time partitioned by product category.

In [38]:
# Merge order_items_orders_payments_customers with products on 'product_id'
order_items_orders_payments_customers_products = order_items_orders_payments_customers.merge(products, on="product_id", how="left")
order_items_orders_payments_customers_products["avg_delivery_time_per_product_category"] = order_items_orders_payments_customers_products.groupby("product_category_name")["delivery_time"].transform(lambda x: x.rolling(window=5, min_periods=1).mean())

In [39]:
order_items_orders_payments_customers_products = order_items_orders_payments_customers_products.dropna()

In [40]:
order_items_orders_payments_customers_products.shape

(108357, 36)

## Saving Processed Data to SQL Server (Fact & Dimension Tables)

In [42]:
import urllib
from sqlalchemy import create_engine

In [43]:
# merge order_items_orders_payments with sellers
order_items_orders_payments_sellers = order_items_orders_payments.merge(sellers, on="seller_id", how="left")
# Merge order_items_orders_payments_sellers with products on 'seller_id'
order_items_orders_payments_sellers_products = order_items_orders_payments_sellers.merge(products, on="product_id", how="left")

#### Fact Table

In [45]:
# Fact Table: Includes calculated columns like Total Price, Delivery Time, etc.
fact_table = order_items_orders_payments_customers_products[[
    "order_id", "order_item_id", "product_id", "seller_id", "customer_id", "total_price",
    "delivery_time", "payment_count", "profit_margin", "total_sales_per_customer",
    "avg_delivery_time_per_product_category"
]]

#### Dimension Tables

In [47]:
# Customer Dimension Table
customer_dimension = order_items_orders_payments_customers_products[[
    "customer_id", "customer_zip_code_prefix", "customer_city", "customer_state"
]].drop_duplicates()

# Product Dimension Table
product_dimension = order_items_orders_payments_customers_products[[
    "product_id", "product_category_name", "product_name_lenght",
    "product_description_lenght", "product_photos_qty", "product_weight_g",
    "product_length_cm", "product_height_cm", "product_width_cm"
]].drop_duplicates()

# Seller Dimension Table
seller_dimension = order_items_orders_payments_sellers_products[[
    "seller_id", "seller_zip_code_prefix", "seller_city", "seller_state"
]].drop_duplicates()

# Date Dimension Table
date_dimension = order_items_orders_payments_customers_products[[
    "order_id", "order_purchase_timestamp", "order_delivered_customer_date"
]].drop_duplicates()

#### Connect to SQL Server

In [49]:
# connection string using Windows Authentication
connection_string = (
    r'DRIVER={ODBC Driver 17 for SQL Server};'
    r'SERVER=LAPTOP-9MIQ9SU9\SQLEXPRESS;'  # my server name
    r'DATABASE=LufthansaTask;'  # the database
    r'Trusted_Connection=yes;'
)

# create connection URL
connection_url = (
    'mssql+pyodbc:///?odbc_connect='
    + urllib.parse.quote_plus(connection_string)
)

# create the SQLAlchemy engine
engine = create_engine(connection_url, isolation_level="AUTOCOMMIT")

#### Save Tables to SQL Server

In [51]:
# Save the Fact Table
fact_table.to_sql("fact_order_items", con=engine, if_exists="replace", index=False)

# Save the Customer Dimension Table
customer_dimension.to_sql("dim_customers", con=engine, if_exists="replace", index=False)

# Save the Product Dimension Table
product_dimension.to_sql("dim_products", con=engine, if_exists="replace", index=False)

# Save the Seller Dimension Table
seller_dimension.to_sql("dim_sellers", con=engine, if_exists="replace", index=False)

# Save the Date Dimension Table
date_dimension.to_sql("dim_dates", con=engine, if_exists="replace", index=False)

504